OLLAMA_MODEL=qwen3:32b
OLLAMA_BASE_URL=http://10.112.230.27:11434
JENKINS_USERNAME=lijia15x
JENKINS_API_TOKEN=
COPILOT_WORKSPACE_ROOT=C:\code\langGraph\log_analysis_agent\workspace
HTTPS_PROXY=http://child-prc.intel.com:913
HTTP_PROXY=http://child-prc.intel.com:913
NO_PROXY=intel.com,.intel.com,10.112.230.27,localhost,127.0.0.1